<!DOCTYPE html>
<html lang="en-US">
<style>
  body{
  background-image: url("https://plus.unsplash.com/premium_photo-1673998269850-8f953fd2fe0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80")

  }

</style>
<body>



<form style="margin-bottom: 50px;">
indirect Proportion for last year: <input type="number" placeholder="In 100% percentage.." id="first" name="first" max="100" value = {{indirect2}}><br/>
direct Proportion for last year: <input type="number" placeholder="In 100% percentage.." id="second" name="second" max="100" value = {{direct2}}><br>

</form>

<input type="submit" name="submit" value="Generate Pie-Chart" style="margin-bottom: 30px;" id="plotSubmit">


<div id="my-pie-chart-container">

  <div id="legenda">
    <div class="entry">
      <div id="color-red" class="entry-color"></div>
      <div class="entry-text">indirect</div>
    </div>
    <div class="entry">
      <div id="color-gre" class="entry-color"></div>
      <div class="entry-text">direct</div>
    </div>
  </div>
</div>


<section>
<div>
<canvas id="canvas" width="400" height="300">
This text is displayed if your browser does not support HTML5 Canvas.
</canvas>
</div>

<script type="text/javascript">

document.getElementById("plotSubmit").onclick = generatePie;

var myColor = ["#ECD078","#D95B43","#53777A"];
var myData = [100,50,50];

function generatePie() {
    // Grab values from inputs and put them in the data array:
    myData[1] = document.getElementById("first").value;
    myData[2] = document.getElementById("second").value;
   

    // Call plotData again:
    plotData();
}

function getTotal(){
    var myTotal = 0;
    for (var j = 0; j < myData.length; j++) {
        myTotal += (typeof myData[j] == 'number') ? myData[j] : 0;
    }
    return myTotal;
}

function plotData() {
    var canvas;
    var ctx;
    var lastend = 0;
    var myTotal = getTotal();

    canvas = document.getElementById("canvas");
    ctx = canvas.getContext("2d");
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    for (var i = 0; i < myData.length; i++) {
        ctx.fillStyle = myColor[i];
        ctx.beginPath();
        ctx.moveTo(200,150);
        ctx.arc(200,150,150,lastend,lastend+(Math.PI*2*(myData[i]/myTotal)),false);
        ctx.lineTo(200,150);
        ctx.fill();
        lastend += Math.PI*2*(myData[i]/myTotal);
    }
}

plotData();

</script>

</body>
</html>
