<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    body {
        
        background-color: aqua;
  background-image: url("https://plus.unsplash.com/premium_photo-1673998269850-8f953fd2fe0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80")

    }

    .div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        
        width: 50%;
        /* set the width of the div */
    
        /* set the height of the div */
        background-color: gold;
        /* set the background color of the div */
        margin: auto;
        /* set the margin to auto for both horizontal and vertical axes */
        position: absolute;
        /* set the position to absolute to center the div in the middle of the page */
    }
</style>
</head>

<body>
    <div class = 'div'>
<form action="/viewStf" method="POST">
    <input class = 'btn-primary'type="submit" name="view_my_flight" value='View My Flight' />
</form>


<table>
    <th>Flight Number</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <form action="/viewFlight" method="POST">
        {% for line in result %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
            <td>{{line[2]}}</td>
            <td>
                <input type="radio" id="ticket" name="ticket" value={{line[0]}} required>
                  <label for="ticket">View</label>
            </td>
        </tr>
        {% endfor %}
</table>

<input class = 'btn-primary' type="submit" name='confirm' value='View the chosen flight' />

<p>Customer for your selected flight:</p>
<table>
    <th>Customer email</th>
    <th>Customer name</th>

    {% for line in result1 %}
    <tr>
        <td>{{line[0]}}</td>
        <td>{{line[1]}}</td>
    </tr>
    {% endfor %}
</table>
</form>

<form action="/tocreate" method="POST">
    <input class = 'btn-primary' type="submit" name="createNewFlights" value="Create New Flights">
</form>

<form action="/toupdate" method="POST">
    <input class = 'btn-primary' type="submit" name="updateStatus" value="Update Flight Status">
</form>
<form action="/toAddPlane" method="POST">
    <input class = 'btn-primary' type="submit" name="addPlane" value="Add New Plane">
</form>
<form action="/toAddAirport" method="POST">
    <input class = 'btn-primary' type="submit" name="addAirport" value="Add New Airport">
</form>
<form action="/toGrant" method="POST">
    <input class = 'btn-primary' type="submit" name="toGrant" value="Grant permission to other staffs">
</form>
<form action="/toAddAgents" method="POST">
    <input class = 'btn-primary' type="submit" name="toAddAgents" value="Add new agent">
</form>
<form action="/toReport" method="POST">
    <input class = 'btn-primary' type="submit" name="toReport" value="View Ticket Report">
</form>
<form action="/toRevenueYear" method="POST">
    <input class = 'btn-primary' type="submit" name="toRevenueYear" value="View Revenue Comparison in Year">
</form>
<form action="/toRevenueMonth" method="POST">
    <input class = 'btn-primary' type="submit" name="toRevenueMonth" value="View Revenue Comparison in Month">
</form>


{% if error %}
<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<form action="/viewAgents" method="POST">
    <input class = 'btn-primary' type="submit" name="viewAgents" value="View All Agents">
    <p>Top5 agents for past month based on number of tickets </p>
    <table>
        <th>Agent Email</th>
        <th>Booking_agent_ID</th>
        {% for line in result1 %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Top5 agents for past year based on number of tickets </p>
    <table>
        <th>Agent Email</th>
        <th>Booking_agent_ID</th>
        {% for line in result2 %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Top5 agents for past year based on commision </p>
    <table>
        <th>Agent Email</th>
        <th>Booking_agent_ID</th>
        {% for line in result3 %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
        </tr>
        {% endfor %}
    </table>
</form>

<form action="/viewFreqCus" method="POST">
    <input class = 'btn-primary' type="submit" name="viewFreqCus" value="View Most Frequent Customer">
    <p>Most frequent customer past year based on number of tickets: </p>
    <table>
        <th>Customer Email & Name </th>
        
        {% for line in result_cus %}
        <tr>
            <td>{{line}}</td>
    
        </tr>
        {% endfor %}
    </table>
    <p>The Flight of this customer: </p>
    <table>
        <th>Flight_num</th>
        <th>Depart Time</th>
        <th>Arrive Time</th>
        <th>Price</th>
        <th>Plane</th>
        <th>Depart Airport</th>
        <th>Arrive Airport</th>
        {% for line in result_fli %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
            <td>{{line[2]}}</td>
            <td>{{line[3]}}</td>
            <td>{{line[4]}}</td>
            <td>{{line[5]}}</td>
            <td>{{line[6]}}</td>
        </tr>
        {% endfor %}
    </table>
</form>
<form action="/viewReports" method="POST">
    <input class = 'btn-primary' type="submit" name="viewReports" value="View Most Frequent Destination">
    <p>Most frequent destination city past 3 months: </p>
    <table>
        <th>City name</th>
        <th>Times</th>
        {% for line in result_des_3 %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Most frequent destination city past year: </p>
    <table>
        <th>City name</th>
        <th>Times</th>
        {% for line in result_des_y %}
        <tr>
            <td>{{line[0]}}</td>
            <td>{{line[1]}}</td>
        </tr>
        {% endfor %}
    </table>
</form>

<a href="/logoutStf">Log out</a>
    </div>
     

  
</body>
</html>